@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Indie Flower', cursive !important;
}

header{
    background-color: #f19f1f;
    display: flex;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    padding: 10px;
}

nav ul{
    display: flex;
    align-items: center;
    height: 100%;
     ;
}

nav ul li{
    list-style-type: none;
    padding: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: bold;
}

#banner{
    /* position: relative; */
}

#banner img{
    /* max-width: 100vw; */
}

h1, .carousel-caption h2 {
    color: white;
    font-size: 2.7em;
    font-weight: bold;
}

h2{
    color:#108896;
    font-weight: bold;
    font-size: 3.8em;
    /* margin-bottom: 70px; */
}

#nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    width: 100%;
}

#nosotros h2{
    margin-bottom: 60px;
}

#nosotros .contFlex{
    display: flex;
}

.contFlex{
    width: 100%;
    padding-top: 50px;
}
.contFlex div {
    /* width: 60%; */
    padding-right: 50px;
}

.contFlex p{
    text-align: left;
    margin-bottom: 30px;
}
.col2{
    /* width: 50%; */
}
.col2 img{
    width:500px;
}


p{
    color: #baa8a0;
    text-align: center;
    /* width: 70%; */
    font-size: 1.5em;
}

.carousel-item img{
   display: block;
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.carousel-item{
    height: 600px;
    position: relative;
    overflow: hidden;
}

.img1{
    position:absolute;
    top: 16px;
    text-align: center;
    display: flex;
    align-items: center;
}

/* .carousel-caption{
    position: obsolute;
        
} */

.carousel-caption p{
    font-size: 2em;
    color: white;
}

.circulo{
    position: absolute;
        bottom: -360px;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 1500px;
        width: 200%;
        border-radius: 50%;
        background-color: #108896;
        /* z-index: 10; */
        opacity: 0.7;
}

.circulo2{
    position: absolute;
    top: 1142px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1500px;
    width: 200%;
    border-radius: 50%;
    background-color: #108896;
    /* z-index: 10; */
    opacity: 0.7;
}

#busqueda{
    background-color: #f19f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    color: white;
}

#busqueda h2{
    margin-bottom: 30px;
    color: white;
}

#busqueda form{
    background-color: #ef5030;
    padding: 40px;
    border-radius: 100px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    
}

.contForm{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
}

select{
    background-color: rgb(252, 229, 200);
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    padding: 4px;
}

label{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
}

input[type=submit]{
    padding: 5px 60px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    /* margin-top: 30px; */
    background-color: rgb(252, 229, 200);
}

.fa-arrow-alt-circle-up:before, .fa-circle-up:before{
    color: #ef5030;
    font-size: 65px;
    position: fixed;
    bottom:40px;
    right: 20px;
}

.fa-solid:hover{
    color: #baa8a0;
}

footer{
    background-color: #363636;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

footer ul li{
    list-style-type: none;
}

.redes{
    color: #f19f1f;
}

.redes h3{
    font-size: 2rem;
    font-weight: 700;
}